<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head lang="en">

  <title>Java Leasing</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <style>
    th, td {
      border: 1px solid black;
      padding: 5px;
        text-align: center;
    }
    form, h2{
      text-align: center;
    }

    table{
      margin:0 auto;
    }

  </style>
</head>
<body>


<div>
  <form th:object="${leasingApplication}" th:action="@{/getApplicationStatus}" method="get">
    <input type="text" placeholder="Enter Application Number" name="applicationNumber" id="applicationNumber" th:value="${applicationNumber}"/>
    <input type="text" placeholder="Enter Identification Number" name="identificationNumber" id="identificationNumber" th:value="${identificationNumber}"/>
    <input type="submit" value="Search"/>
  </form>
</div>

<div th:object="${leasingApplication}" th:if="${leasingApplication != null}" >
    <h2>Your application - <span th:text="*{applicationNumber}"></span></h2>
    <table>
     <tr>
      <th>Car VIN</th>
      <th>Car Brand</th>
      <th>Car Model</th>
      <th>Car Type</th>
      <th>Leasing Status</th>
      <th>Declination Reason</th>
       <th>Funding Amount</th>
       <th>Total income</th>
       <th>Applicants</th>
    </tr>
    <tr>
      <td th:text="*{carVin}"></td>
      <td th:text="*{carBrand}"></td>
      <td th:text="*{carModel}"></td>
      <td th:text="*{carType}"></td>
    <td>
        <span th:text="*{applicationStatus} ? 'Approved' : 'Declined'"></span>
    </td>
      <td th:text="*{declinationReason}"></td>
      <td th:text="*{fundingAmount}"></td>
      <td th:text="${totalIncome}"></td>
      <td th:text="${applicantNames}"></td>
    </tr>
  </table>

</div>

</body>
</html>