<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head lang="en">

    <title>Java Leasing</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .required-field::after {
            content: "*";
            color: #bc2b2c;
        }
    </style>
</head>
<script type="text/javascript">
        function AddCoapplicantForm() {
            if (document.getElementById('addCoapplicantForm').style.display == 'none') {
                document.getElementById('addCoapplicantForm').style.display = 'block';
                document.getElementById('addCoapplicantButton').value = "Ahh don't add it";
                container = document.getElementById("addCoapplicantForm");
                inputs = container.getElementsByTagName('input');
                for (index = 0; index < inputs.length; ++index) {
                    if(inputs[index].type =="text" || inputs[index].type =="number")
                        inputs[index].disabled = false;
                }
            }
            else {
                document.getElementById('addCoapplicantForm').style.display = 'none';
                document.getElementById('addCoapplicantButton').value = "Add Co-Applicant";

                // remove fields if decided to remove co-applicant
                container = document.getElementById("addCoapplicantForm");
                inputs = container.getElementsByTagName('input');
                for (index = 0; index < inputs.length; ++index) {
                    if(inputs[index].type =="text" || inputs[index].type =="number")
                        inputs[index].disabled = true;
                }
            }

        }

</script>
<body>

<div>
    <form action="#" th:action="@{/requestLeasing}" th:object="${form}" method="post" >

        <h2>Person's data: </h2>

        <p><span class = "required-field">Name:</span> <input type="text" th:field="*{personsList[0].name}" required="required" /></p>
        <p><span class = "required-field">Surname:</span> <input type="text" th:field="*{personsList[0].surname}" required="required"/></p>
        <p><span class = "required-field">Identification Number:</span> <input type="text" th:field="*{personsList[0].identificationNumber}" required="required"/></p>
        <p><span class = "required-field">Income:</span> <input type="number" th:field="*{personsList[0].income}" required="required"/></p>

        <input type="button" id="addCoapplicantButton" onclick="AddCoapplicantForm()" value="Add Co-Applicant">

<!--        <input type="button" -->
        <div id="addCoapplicantForm" style="display: none">

            <h2>Co-applicant</h2>

            <p><span class = "required-field">Name:</span> <input type="text" th:field="*{personsList[1].name}" required="required" disabled/></p>
            <p><span class = "required-field">Surname:</span> <input type="text" th:field="*{personsList[1].surname}" required="required" disabled/></p>
            <p><span class = "required-field">Identification Number:</span> <input type="text" th:field="*{personsList[1].identificationNumber}" required="required" disabled/></p>
            <p><span class = "required-field">Income:</span> <input type="number" th:field="*{personsList[1].income}" required="required" disabled/></p>
        </div>

        <h2>Car's data: </h2>
        <p><span class = "required-field">Car VIN:</span> <input type="text" th:field="${newLeasing.carVin}" required="required"/></p>
        <p>Car Brand: <input type="text" th:field="${newLeasing.carBrand}"/></p>
        <p>Car Model: <input type="text" th:field="${newLeasing.carModel}"/></p>
        <p>Car Type: <select th:field="${newLeasing.carType}">
            <option th:value="'Sedan'" th:text="Sedan"></option>
            <option th:value="'Hatchback'" th:text="Hatchback"></option>
            <option th:value="'SUV'" th:text="SUV"></option>
            <option th:value="'Coupe'" th:text="Coupe"></option>
            <option th:value="'Pickup'" th:text="Pickup"></option>
            <option th:value="'Supercar'" th:text="Supercar"></option>
        </select>
        <p><span class = "required-field">Funding Amount:</span> <input type="number" th:field="${newLeasing.fundingAmount}" required="required" /></p>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</div>


</body>
</html>